body
  font-family: 'Proxima Nova Light'
button, input
  outline: none
button
  &:hover
    cursor: pointer
img 
  max-width: 100%
.section
  padding: 100px 0
  &-title
    font-family: 'Proxima Nova Semibold'
    font-size: 30px
    font-weight: 400
    text-align: center
    text-transform: uppercase
  &__title
    margin-bottom: 100px
.button-o
  display: block
  padding: 15px 20px
  background-color: transparent
  outline: none
  border: none
  text-transform: uppercase
  border: 2px solid #507fe1 
  font-family: 'Proxima Nova Semibold'
  font-size: 12px
  font-weight: 400
  &:hover
    cursor: pointer
.input
  height: 80px
  padding: 30px
  border: 1px solid #dddddd
  