.hero
  background: #f1f1f1 url(../img/hero/hero-bg.jpg)
  background-repeat: no-repeat
  background-position: center top
  background-size: contain 
  padding-top: 100px
  padding-bottom: 270px
  margin-top: 80px
  &__title
    color: #252525
    font-size: 30px
    font-weight: 400
    margin-bottom: 37px
  &__subtitle
    display: block
    color: #121212
    font-size: 30px
    font-weight: 700
    margin-bottom: 67px
  &__button
    color: #ffffff
    font-size: 15px
    background-color: #507fe1
    padding: 20px 41px
@media (max-width: 756px)
  .hero
    background-size: 100%
    background-position: top left